html {
/*ISSO É UM COMENTÁRIO .CSS*/
	font-size: 16px;
	font-family: "Buda", serif;
	background-color: #66cd63;
}

h1 {
	font-size: 60px;
	text-align: center;
}

p,
li {
	fonte-size: 20px;
	line-height: 2;
	letter-spacing: 1px;
}


